@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

body {
  @apply min-h-screen bg-gray-900 text-gray-100;
}

/* Light mode overrides - applied when .light class is on html */
.light body {
  background-color: rgb(255 255 255);
  color: rgb(17 24 39);
}

.light .bg-gray-900 {
  background-color: rgb(249 250 251);
}

.light .bg-gray-800 {
  background-color: rgb(255 255 255);
}

.light .bg-gray-800\/50 {
  background-color: rgb(243 244 246);
}

.light .bg-gray-900\/50 {
  background-color: rgb(243 244 246);
}

.light .bg-gray-900\/70 {
  background-color: rgb(249 250 251);
}

.light .border-gray-700 {
  border-color: rgb(229 231 235);
}

.light .border-gray-800 {
  border-color: rgb(229 231 235);
}

.light .text-white {
  color: rgb(17 24 39);
}

.light .text-gray-100 {
  color: rgb(17 24 39);
}

.light .text-gray-200 {
  color: rgb(55 65 81);
}

.light .text-gray-300 {
  color: rgb(75 85 99);
}

.light .text-gray-400 {
  color: rgb(107 114 128);
}

.light .text-gray-500 {
  color: rgb(156 163 175);
}
